<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>
 
# Rewrite url
RewriteEngine off
RewriteRule ^([a-zA-Z0-9_-]+).html$ index.php?tab=$1
RewriteRule ^([a-zA-Z0-9_-]+).html/$ index.php?tab=$1
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).html$ index.php?tab=$1&act=$2
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).html/$ index.php?tab=$1&act=$2
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).html$ index.php?tab=$1&act=$2&id=$3
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+).html/$ index.php?tab=$1&act=$2&id=$3